{% extends "KarpatskaFormBundle::layout.html.twig" %}

{% block body -%}
<div class="container">
    <h1>Organizácie ktoré vyplnili formulár</h1>

    <table class="table table-striped table-bordered records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>IČO</th>
                <th>Meno organizácie</th>
                <th>Meno reprezentanta</th>
                <th>Telefón na reprezentanta</th>
                <th>Email na reprezentanta</th>
                <th>Akcie</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            {% if entity.realAnswers|length > 0 %}
            <tr>
                <td><a href="{{ path('admin_records_show', { 'id': entity.id }) }}">{{ entity.id }}/{{ year }}/fkv</a></td>
                <td>{{ entity.ico }}</td>
                <td>{{ entity.orgName }}</td>
                <td>{{ entity.reprName }}</td>
                <td>{{ entity.reprPhone }}</td>
                <td>{{ entity.reprEmail }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('admin_records_show', { 'id': entity.id }) }}"><i class="glyphicon glyphicon-search"></i> Zobraziť</a>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>

    {% endblock %}
