{% extends "KarpatskaFormBundle::layout.html.twig" %}

{% block body -%}
<div class="container">
    <h1>Detail</h1>

    <table class="table table-striped table-bordered record_properties">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>IČO</th>
                <td>{{ entity.ico }}</td>
            </tr>
            <tr>
                <th>DIČ</th>
                <td>{{ entity.dic }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered record_properties">
        <thead>
            <tr>
                <th class="warning">Názov súboru</th>
            </tr>
        </thead>
        <tbody>
        {% for file in files %}
        <tr>
            <td class="success"><a href="{{ asset("files") }}/{{ ico }}/{{ file }}" target="_blank">{{ file }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


        <a class="btn btn-warning" href="{{ path('admin_records') }}">
            <i class="glyphicon glyphicon-arrow-left"></i>
            Návrat na prehľad
        </a>
</div>
{% endblock %}
