{% extends "KarpatskaFormBundle::layout.html.twig" %}
{% block body %}
    <div class="container" style="max-width: 950px;">
    <h1>{{ form.name }}</h1>
    <hr class="colorgraph"/>
            {% for question in form.question %}
                {% for answer in answers if question.id == answer.question.id %}
                <div class="row row-divided print-pdf">
                    <div class="col-lg-12">
                        <label class="control-label">{{ question.questionText }}:</label>
                    </div>
                    <div class="col-lg-12 text-left">
                         {% if answer.json == 'true' %}
                         <div class="thumbnail" style="margin-left: 20px;" id="goals">
                            {% for result in jsonResults %}
                                <label>Cieľ projektu:</label> {{ result.inputField.value }}
                                {% for activity in result.activities %}
                                    <div class="activities" style="padding: 15px;">
                                        <div id="activities"><label>Názov aktivity:</label> {{ activity.fields[0].value }} </div>
                                        <div id="activities"><label>Popis aktivity:</label> {{ activity.fields[1].value }} </div>
                                        <div id="activities"><label>Zodpovedná osoba:</label> {{ activity.fields[2].value }} </div>
                                        <div id="activities"><label>Dátum realizácie:</label> {{ activity.fields[3].value }} </div>
                                    </div>
                                {% endfor %}
                                {% endfor %}

                             </div>
                         </div>
                            {% else %}
                            <div class="thumbnail" style="margin-left: 20px;">
                                <small>{{ answer.answerText }}</small>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            {% endfor %}
    <div class="pull-right">
        <div class="text-center">
            <br/><br/><br/>
            <span>...........................................</span>
            <br/>
            Podpis
        </div>
    </div>
{% endblock %}