{% extends "KarpatskaFormBundle::layout.html.twig" %}

{% block title %}KarpatskaFormBundle:Form:form{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{form.name}}</h1>
        <hr class="colorgraph"/>
        <form action="" class="form-horizontal" role="form" method="post">
            {% for question in form.question %}
                <div class="row form-group form-group-lg">
                    {% if question.type == 'heading' %}
                        <h2 class="col-xs-12 col-md-4 col-md-offset-3"><small>{{ question.questionText }}</small></h2>
                    {% else %}
                        <div class="col-xs-12 col-md-4">
                            <label class="control-label">{{ question.questionText }}:</label>
                            <br/>
                            <i>
                                <small>{{ question.description }}</small>
                            </i>
                        </div>
                    {% endif %}
                    <div class="col-xs-12 col-md-6">
                        {% for answer in question.answer %}

                            {% if answer.answerType == 'text' %}
                                <input type="text" name="{{ question.id }}" class="form-control input-lg" data-position="{{ question.position }}" value="{% if post[question.id] is defined %}{{ post[question.id] }}{% endif %}">
                            {% elseif answer.answerType == 'radio' %}
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="{{ question.id }}" value="{{ answer.answerText }}" {% if post[question.id] is defined and post[question.id] == answer.answerText %}checked="checked"{% endif %}>
                                            {{ answer.answerText }}
                                        </label>
                                    </div>
                            {% elseif answer.answerType == 'textDisabled' %}
                                <input type="text" name="{{ question.id }}" class="form-control input-lg" readonly="readonly" data-position="{{ question.position }}" value="{% if post[question.id] is defined %}{{ post[question.id] }}{% endif %}">
                            {% elseif answer.answerType == 'date' %}
                                <div class="col-sm-12 col-md-6">
                                    <input type="text" name="{{ question.id }}" class="form-control input-lg datepicker" data-position="{{ question.position }}" value="{% if post[question.id] is defined %}{{ post[question.id] }}{% endif %}">
                                </div>
                            {% elseif answer.answerType == 'textarea' %}
                                <textarea name="{{ question.id }}" class="form-control input-lg" data-position="{{ question.position }}">{% if post[question.id] is defined %}{{ post[question.id] }}{% endif %}</textarea>
                            {% elseif answer.answerType == 'checkbox' %}
                                <div class="checkbox">
                                    {% set checked = false %}
                                    {% if post[question.id] is defined %}
                                        {% for key, item in post[question.id] if item == answer.answerText %}
                                            {% set checked = true %}
                                        {% endfor %}
                                    {% endif %}
                                    <label>
                                        <input type="checkbox" name="{{ question.id }}[]" value="{{ answer.answerText }}" {% if checked == true %}checked="checked"{% endif %}>
                                        {{ answer.answerText }}
                                    </label>

                                </div>
                            {% elseif answer.answerType == 'targets_and_activities' %}
                                <input type="hidden" name="{{ question.id }}" id="jsonHandler" style="width: 150%;"/>
                                <div id="goals" class="clearfix"></div>
                                <script>
                                    goalList = new GoalList();
                                    var parentElement = $("#goals");
                                    var goal = new Goal(parentElement);
                                    goalList.addGoal(goal);
                                    goal.createActivity();
                                </script>
                                <button type="button" id="add_goal" class="btn btn-info">Pridajte cieľ</button>
                            {% endif %}

                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <div class="col-xs-12 col-md-6 col-md-offset-4">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Potvrdiť a prejsť na ďalší krok &raquo;</button>
                <br/>
            </div>
        </form>
        <hr class="colorgraph clearfix"/>

    </div>
    {% if errors is defined %}
        <div class="errors clearfix">
            <span class="col-xs-12 close">&times;</span>
            {% for error in errors if error.message != "" %}
                <div class="col-md-4 col-xs-12 alert-danger">
                  <b>{{ error.question }}</b> {{ error.message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
{% block scriptPlace %}
    <script>
        $(document).ready(function(){
            var parentElement = $("#goals");

            $("button#add_goal").click(function(){
                var goal = new Goal(parentElement);
                goalList.addGoal(goal);
                goal.createActivity();
                return false;
            });

            $("form.form-horizontal").submit(function(){
                $("input#jsonHandler").val(goalList.toJSON());
                //return false;
            });
        });

        function registerActivityHandler(element) {
            for(var i=0; i < goalList.goals.length; i++) {
                if(goalList.goals[i].element === element.parentElement.parentElement) {
                    goalList.goals[i].createActivity();
                }
            }
        }

        function registerRemoveActivityHandler(element) {
            for(var i=0; i < goalList.goals.length; i++) {
                for(var j=0; j < goalList.goals[i].activities.length; j++) {
                    if(goalList.goals[i].activities[j].element === element.parentElement) {
                        goalList.goals[i].activities[j].removeActivity();
                    }
                }
            }
        }

        function removeGoal(goal) {
            for(var i=0;i<this.goals.length; i++) {
                if(this.goals[i] === goal) {
                    this.goals.splice(i, 1);
                }
            }
        }
    </script>
    <script>
        $(document).ready(function(){

            // Autofill
            var path = "{{ path('_company_get') }}";
            $.ajax({
                type: "POST",
                url: path,
                success: function(result){
                    var data = $.parseJSON(result);
                    $('input[data-position="4"]').val(data.address);
                    $('input[data-position="5"]').val(data.county);
                    $('input[data-position="6"]').val(data.region);
                    $('input[data-position="8"]').val(data.ico);
                    $('input[data-position="26"]').val(data.accountNum);
                    $('input[data-position="27"]').val(data.bankName);
                    $('input[data-position="28"]').val(data.bankAddress);
                },
                error: function(){
                    alert("Nastala chyba pri automatickom vpisovaní dát do formulára. Skúste znova.");
                }
            });

            /* errors animation */
            var element = $("div.errors");
            var height = element.outerHeight();
                //set height to 0 for correct animation
            element.css({
                height: 0
            });
            if(element.children("div.alert-danger").length == 0){
                element.animate({
                   height: 0
                });
            }
            else{
                element.animate({
                    height: height + "px"
                }, 1200);
            }

            $(".close").click(function(){
                element.animate({
                    height: 0,
                    padding:0,
                    border:0
                }, 1200);
            });

            /* Make form printable */
                $('#printer').click(function(){
                    window.print();
                    return false;
                });

            /* Live update */
            function liveUpdate()
            {
                var first = $('input[data-position="1"]').val();
                $('input[data-position="29"]').val(first);
            }
            $(document).on("change, keyup, input", "input[data-position='1']", liveUpdate);

            function grantLiveUpdate()
            {
                var first = $('input[data-position="21"]').val();
                $('#grant').text(first);
            }
            $(document).on("change, keyup, input", "input[data-position='21']", grantLiveUpdate);

        });
    </script>
{% endblock %}
