{% extends "KarpatskaFormBundle::layout.html.twig" %}
{% block title %}{% endblock %}

{% block body %}
    <div class="container" style="max-width: 950px;">
        <h1>Nahrajte súbory potrebné pre potvrdenie formuláru</h1>
        <hr class="colorgraph"/>
        <div class="col-xs-12 col-lg-6 col-lg-offset-3">
            {{ form_start(form) }}
            <label>Rozpočet</label>
            {{ form_widget(form.file_1) }}
            <label>Čestné prehlásenie</label>
            {{ form_widget(form.file_2) }}
            <label>Doklad o registrácií žiadateľa</label>
            {{ form_widget(form.file_3) }}
            <label>Doklad o pridelení IČO</label>
            {{ form_widget(form.file_4) }}
            <label>Doklad o vedení bankového účtu</label>
            {{ form_widget(form.file_5) }}

            <button type="submit" class="btn btn-success btn-block" style="margin-top: 20px;">Odoslať</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
