{% extends "KarpatskaFormBundle::layout.html.twig" %}

{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Karpatska vandrovka</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ path('_company_logout') }}" role="button" aria-expanded="false">
                            <i class="glyphicon glyphicon-off"></i> Odhlásenie
                        </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="jumbotron">
            <h1>Fond Karpatskej vandrovky</h1>
            <p class="small">Fond Karpatskej vandrovky podporuje projekty, ktoré prinášajú pomoc a radosť obyvateľom východného Slovenska.
                Cieľom je podporiť aktívnych východniarov, ich dobré nápady a užitočné projekty.
                <a href="{{ asset("files/karpatska/Výzva_ MAME_RADI_VYCHOD_2015.pdf") }}" target="_blank">Grantové podmienky nájdete TU.</a></p>
                <p>Pri žiadosti o grant je potrebné dodržať nasledujúci postup:</p>
                <ol>
                    <li>Vyplniť formulár žiadosť o grant v sekcii: "Dostupné formuláre"</li>
                    <li>Stiahnuť požadované prílohy v sekcii: "Tlačivá na stiahnutie"</li>
                    <li>Pripraviť "Rozpočet", "Čestné prehlásenie","Doklad o registrácií žiadateľa", "Doklad o pridelení IČO", "Doklad o vedení bankového účtu" v elektronickej podobe</li>
                </ol>
                <p class="danger">Každá organizácia môže podať iba jeden projekt!</p>
        </div>
        <div class="div-col-xs-12 col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Dostupné formuláre</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        {% if isFilled and haveFiles %}
                            Nemáte dostupný žiaden grantový formulár!
                        {% elseif isFilled and not haveFiles %}
                            <li><a target="_blank" href="{{ path('_file_upload', {'formId': 2}) }}">Nahratie súborov pre žiadosť o grant</a></li>
                        {% else %}
                            <li><a target="_blank" href="{{ path('_form', {'formId': 2}) }}">Žiadosť o grant</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="div-col-xs-12 col-lg-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Tlačivá na stiahnutie</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="{{ asset('files/karpatska/prehlasenie_MAME_RADI_VYCHOD.doc') }}">Čestné prehlásenie</a></li>
                        <li><a href="{{ asset('files/karpatska/Rozpocet_MAME_RADI_VYCHOD_2015.xls') }}">Žiadosť o grant - rozpočet</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="div-col-xs-12 col-lg-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Vaše odoslané súbory a vyplnené formuláre</h3>
                </div>
                <div class="panel-body" style="text-overflow: ellipsis;">
                    <ul class="inline-li">
                        {% if not files  %}
                            Nemáte vyplnené žiadne formuláre.
                        {% endif %}
                        {% for file in files %}
                            <li><a href="{{ asset("files") }}/{{ ico }}/{{ file }}" target="_blank">{{ file }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}