{% extends "KarpatskaFormBundle::layout.html.twig" %}

{% block title %}Registrácia{% endblock %}

{% block body %}
    <div class="container" ng-controller="RegistrationController">
        <div class="col-xs-12 col-sm-8 col-md-10 col-sm-offset-2 col-md-offset-1">
            {{ form_start(form) }}

                <h2>Registrácia <small>Žiadosť o grant</small></h2>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <h2><small>Firemné údaje</small></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group inner-addon right-addon">
                            {{ form_widget(form.ico) }}
                                <i id="tooltip"
                                   class="glyphicon glyphicon-info-sign"
                                   data-toggle="tooltip"
                                   data-original-title="Zadajte Vaše IČO. Slúži aj ako prihlasovací údaj. Príklad: 87654321">
                                </i>
                            <p class="text-danger">CHYBA</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group inner-addon right-addon">
                            {{ form_widget(form.address) }}
                            <i id="tooltip"
                               class="glyphicon glyphicon-info-sign"
                               data-toggle="tooltip"
                               data-original-title="Zadajte ulicu a číslo">
                            </i>
                            <p class="text-danger">CHYBA</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group inner-addon right-addon">
                            {{ form_widget(form.county) }}
                            <i id="tooltip"
                               class="glyphicon glyphicon-info-sign"
                               data-toggle="tooltip"
                               data-original-title="Zadajte okres v ktorom sa spoločnosť nachádza">
                            </i>
                            <p class="text-danger">CHYBA</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group inner-addon right-addon">
                            {{ form_widget(form.region) }}
                            <i id="tooltip"
                               class="glyphicon glyphicon-info-sign"
                               data-toggle="tooltip"
                               data-original-title="Zadajte kraj v ktorom sa spoločnosť nachádza">
                            </i>
                            <p class="text-danger">CHYBA</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group inner-addon right-addon">
                            {{ form_widget(form.type) }}
                            <i id="tooltip"
                               class="glyphicon glyphicon-info-sign"
                               data-toggle="tooltip"
                               data-original-title="Zadajte typ spoločnosti">
                            </i>
                            <p class="text-danger">CHYBA</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group inner-addon right-addon">
                            {{ form_widget(form.dic) }}
                            <i id="tooltip"
                               class="glyphicon glyphicon-info-sign"
                               data-toggle="tooltip"
                               data-original-title="Zadajte DIČ ak ho spoločnosť má">
                            </i>
                            <p class="text-danger">CHYBA</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <h2><small>Bankové údaje</small></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group inner-addon right-addon">
                            {{ form_widget(form.bankAddress) }}
                            <i id="tooltip"
                               class="glyphicon glyphicon-info-sign"
                               data-toggle="tooltip"
                               data-original-title="Zadajte ulicu, čislo a mesto v ktorom sídli banka spoločnosti. Príklad: Uličná 4, Košice">
                            </i>
                            <p class="text-danger">CHYBA</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group inner-addon right-addon">
                            {{ form_widget(form.bankName) }}
                            <i id="tooltip"
                               class="glyphicon glyphicon-info-sign"
                               data-toggle="tooltip"
                               data-original-title="Zadajte meno banky spoločnosti">
                            </i>
                            <p class="text-danger">CHYBA</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group inner-addon right-addon">
                            {{ form_widget(form.accountNum) }}
                            <i id="tooltip"
                               class="glyphicon glyphicon-info-sign"
                               data-toggle="tooltip"
                               data-original-title="Zadajte číslo účtu spoločnosti. Tvar: 1234567890/1234">
                            </i>
                            <p class="text-danger">CHYBA</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <h2><small>Údaje o zástupcovi firmy</small></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group inner-addon right-addon">
                            {{ form_widget(form.reprEmail) }}
                            <i id="tooltip"
                               class="glyphicon glyphicon-info-sign"
                               data-toggle="tooltip"
                               data-original-title="Zadajte e-mail zástupcu">
                            </i>
                            <p class="text-danger">CHYBA</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group inner-addon right-addon">
                            {{ form_widget(form.reprName) }}
                            <i id="tooltip"
                               class="glyphicon glyphicon-info-sign"
                               data-toggle="tooltip"
                               data-original-title="Zadajte celé meno zástupcu">
                            </i>
                            <p class="text-danger">CHYBA</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group inner-addon right-addon">
                            {{ form_widget(form.reprPhone) }}
                            <i id="tooltip"
                               class="glyphicon glyphicon-info-sign"
                               data-toggle="tooltip"
                               data-original-title="Zadajte telefónne číslo v medzinárodnom tvare. Tvar: +421908123456">
                            </i>
                            <p class="text-danger">CHYBA</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <h2><small>Nastavenie hesla</small></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group inner-addon right-addon">
                            {{ form_widget(form.password.first) }}
                            <i id="tooltip"
                               class="glyphicon glyphicon-info-sign"
                               data-toggle="tooltip"
                               data-original-title="Zadajte heslo">
                            </i>
                            <p class="text-danger">CHYBA</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group inner-addon right-addon">
                            {{ form_widget(form.password.second, {'attr':{'placeholder': 'Heslo znovu'}}) }}
                            <i id="tooltip"
                               class="glyphicon glyphicon-info-sign"
                               data-toggle="tooltip"
                               data-original-title="Zadajte heslo znovu. Heslá sa musia zhodovať!">
                            </i>
                            <p class="text-danger">CHYBA</p>
                        </div>
                    </div>
                </div>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <input type="submit" value="Registrovať" class="btn btn-primary btn-block btn-lg" tabindex="7">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 text-center">
                        <a href="{{ path('_company_login') }}">Spoločnosť už je registrovaná</a>
                    </div>
                </div>

            {{ form_end(form) }}
        </div>
    </div>


    {{ form_end(form) }}
{% endblock %}
