{% extends "KarpatskaFormBundle::layout.html.twig" %}

{% block title %}Registrácia{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-xs-12 col-sm-8 col-md-10 col-sm-offset-2 col-md-offset-1">
            {{ form_start(form) }}

                <h2>Registrácia <small>Žiadosť o grant</small></h2>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <h2><small>Firemné údaje</small></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.ico) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.address) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.county) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.region) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.type) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.dic) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <h2><small>Bankové údaje</small></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.bankAddress) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.bankName) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.accountNum) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <h2><small>Údaje o zástupcovi firmy</small></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.reprEmail) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.reprName) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <h2><small>Nastavenie hesla</small></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.password.first) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.password.second, {'attr':{'placeholder': 'Heslo znovu'}}) }}
                        </div>
                    </div>
                </div>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <input type="submit" value="Registrovať" class="btn btn-primary btn-block btn-lg" tabindex="7">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 text-center">
                        <a href="#">Spoločnosť už je registrovaná</a>
                    </div>
                </div>

            {{ form_end(form) }}
        </div>
    </div>


    {{ form_end(form) }}
{% endblock %}
