<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/datepicker/css/bootstrap-datepicker.min.css') }}">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="{{ asset('assets/js/frontend/sdk/models/Activity.js') }}"></script>
    <script src="{{ asset('assets/js/frontend/sdk/models/Goal.js') }}"></script>
    <script src="{{ asset('assets/js/frontend/sdk/models/GoalList.js') }}"></script>
    <script src="{{ asset('assets/js/frontend/sdk/models/Field.js') }}"></script>
    <script src="{{ asset('assets/js/script.js') }}"></script>
    <script src="{{ asset('assets/vendor/datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/datepicker/locales/bootstrap-datepicker.sk.min.js') }}"></script>

</head>
<body>
{% block body %}{% endblock %}
<div class="push"></div>
<div class="container footer-bg">
    <div class="row">
        <div class="col-lg-12 text-center">
            <a href="http://nesskdckosiciam.sk" target="_blank">
                <img src="{{ asset('web/logo-ness.png') }}" alt="Ness KDC Košiciam" class="img-responsive img-logo-nesskdckosiciam">
            </a>
            <p>
                Webová stránka bola vytvorená v rámci projektu NESS KDC Košiciam
            </p>
        </div>
    </div>
</div>
{% block javascripts %}{% endblock %}

<script type="text/javascript">
    $('i#tooltip').tooltip({
        container:'body',
        placement:'right'
    });
    $('.datepicker').datepicker({
        format: "yyyy-mm-dd",
        autoclose: true,
        startDate: '2015-7-1',
        endDate: '2016-3-31',
        language: 'sk'
    });
</script>
{% block scriptPlace %}{% endblock %}
</body>
</html>
